SOURCES/kernel-abi-whitelists-1062.tar.bz2
SOURCES/kernel-kabi-dw-1062.tar.bz2
SOURCES/linux-3.10.0-1062.el7.tar.xz
SOURCES/rheldup3.x509
SOURCES/rhelkpatch1.x509
SOURCES/centos-kpatch.x509
SOURCES/centos-ldup.x509
SOURCES/centos.cer
